/ndnd
/ndnd.exe
/gondn_tlv_gen
/gondn_tlv_gen.exe
coverage.out
/db-*/

# Go wasm files
wasm_exec.js

# Compiler folders
.vscode
.idea

# Temporary
.env
_build
*~
*.sw*
*.DS_Store
__pycache__/
*.py[cod]
*$py.class
*.log
/temp/
*.wasm
.codex

# Built example application binaries
std/examples/**/apps/consumer/consumer
std/examples/**/apps/consumer/consumer.exe
std/examples/**/apps/producer/producer
std/examples/**/apps/producer/producer.exe
